.betInput {
  &LabelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  &Currency {
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--grey-3);
    margin-left: 4px;
  }

  &MaxBet {
    font-family: var(--primary-font);
    font-size: 14px;
    text-transform: capitalize;
    color: var(--grey-3);
  }

  &InError {
    color: var(--color-error);
    font-size: 0.75rem;
    font-weight: 700;
    font-family: var(--primary-font);
  }
}

