.gameWrapper {
  width: 100%;
  background: var(--primary-color);
  min-height: 100dvh;
  overflow: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (max-width: 550px) {
    padding: 20px 8px;
  }
}

.balanceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 24px;
  background: var(--black-3);
  border-radius: 4px;
  color: white;
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;

  .balanceLabel {
    color: var(--grey-3);
    font-size: 16px;
  }

  .balanceValue {
    color: white;
  }

  &[data-mobile="true"] {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &[data-mobile="false"] {
    @media (max-width: 767px) {
      display: none;
    }
    margin-top: auto;
    padding-top: 24px;
  }
}

.gameContainer {
  display: flex;
  max-width: 1400px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 24px;
  border-radius: 15px 0 0 15px;
  background: rgb(20, 26, 38);

  @media (max-width: 768px) {
    width: 100%;
    min-width: unset;
  }
}

.actions {
  display: flex;
  gap: 24px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.soundControllerWrapper {
  position: absolute;
  left: 16px;
  top: 16px;
  z-index: 2;
}

